openapi: 3.0.0
info:
  title: Mimo API
  description: <p>This documentation is aimed to serve the mimo framework.</p>
  contact:
    name: Dimitar Dobchev
    url: https://github.com/funyx
    email: ddobchev@gmail.com
  license:
    name: Apache-2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://api.mimo.com
    description: local environment
    variables:
      port:
        enum:
          - "443"
        default: "443"
paths:
  /:
    get:
      operationId: getHelloWorld
      description: Hello World
      tags:
        - Hello World
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HelloWorldResponse"
              examples:
                schema:
                  $ref: "#/components/schemas/HelloWorldResponse"
  /bearer:
    get:
      security:
        - cognito: []
      operationId: checkBearer
      description: Hello World
      tags:
        - Hello World
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HelloWorldResponse"
              examples:
                OK:
                  $ref: "#/components/schemas/HelloWorldResponse"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
              examples:
                Unauthorized:
                  $ref: "#/components/schemas/UnauthorizedResponse"
components:
  schemas:
    HelloWorldResponse:
      type: object
      properties:
        message:
          type: string
          example: Hello World
    UnauthorizedResponse:
      type: object
      properties:
        error:
          type: boolean
          example: true
        description:
          type: string
          example: Unauthorized
  securitySchemes:
    cognito:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            aws.cognito.signin.user.admin: 'The aws.cognito.signin.user.admin scope grants access to Amazon Cognito User Pool API operations that require access tokens, such as UpdateUserAttributes and VerifyUserAttribute.'
            email: The email scope grants access to the email and email_verified claims. This scope can only be requested with the openid scope
            openid: The openid scope returns all user attributes in the ID token that are readable by the client. The ID token is not returned if the openid scope is not requested by the client.
            phone: The phone scope grants access to the phone_number and phone_number_verified claims. This scope can only be requested with the openid scope
            profile: The profile scope grants access to all user attributes that are readable by the client. This scope can only be requested with the openid scope.
          authorizationUrl: 'https://api-mimo.auth.eu-central-1.amazoncognito.com/oauth2/authorize'
          tokenUrl: 'https://api-mimo.auth.eu-central-1.amazoncognito.com/oauth2/token'
        implicit:
          scopes:
            aws.cognito.signin.user.admin: 'The aws.cognito.signin.user.admin scope grants access to Amazon Cognito User Pool API operations that require access tokens, such as UpdateUserAttributes and VerifyUserAttribute.'
            email: The email scope grants access to the email and email_verified claims. This scope can only be requested with the openid scope
            openid: The openid scope returns all user attributes in the ID token that are readable by the client. The ID token is not returned if the openid scope is not requested by the client.
            phone: The phone scope grants access to the phone_number and phone_number_verified claims. This scope can only be requested with the openid scope
            profile: The profile scope grants access to all user attributes that are readable by the client. This scope can only be requested with the openid scope.
          authorizationUrl: 'https://api-mimo.auth.eu-central-1.amazoncognito.com/oauth2/authorize'
tags:
  - name: Hello World
    description: Hello World
